body {
  background-image: url("images/outerspace.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.btn {
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  background: #fff;
  font-family: inherit;
}
